Source: ibus-zhuyin
Section: x11
Priority: extra
Maintainer: Shih-Yuan Lee (FourDollars) <fourdollars@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, intltool, libibus-1.0-dev
Standards-Version: 3.9.5
Homepage: http://fourdollars.github.io/ibus-zhuyin/
Vcs-Browser: https://github.com/fourdollars/ibus-zhuyin
Vcs-Git: git://github.com/fourdollars/ibus-zhuyin.git

Package: ibus-zhuyin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IBus Traditional ZhuYin Input Method
 This traditional Chinese zhuyin input method is designed for old school users.
 .
 There is no intelligent phonetic matching mechanism.
 You have to select which word you want everytime.

Package: ibus-zhuyin-dbg
Section: debug
Architecture: any
Depends: ibus-zhuyin (= ${binary:Version}), ${misc:Depends}
Description: ibuz-zhuyin -- debugging symbols
 This traditional Chinese zhuyin input method is designed for old school users.
 .
 There is no intelligent phonetic matching mechanism.
 You have to select which word you want everytime.
 .
 This package contains the compiler debug symbols.
