Source: ibus-zhuyin
Section: x11
Priority: extra
Maintainer: Shih-Yuan Lee (FourDollars) <fourdollars@gmail.com>
Build-Depends: debhelper (> 9), autotools-dev, intltool, libibus-1.0-dev
Standards-Version: 3.9.3
Homepage: http://fourdollars.github.com/ibus-zhuyin/
Vcs-Browser: https://github.com/fourdollars/ibus-zhuyin
Vcs-Git: git://github.com/fourdollars/ibus-zhuyin.git

Package: ibus-zhuyin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus
Description: IBus Traditional ZhuYin Input Method
 This traditional Chinese zhuyin input method is designed for the old school style.
 .
 There is no intelligent phonetic matching mechanism.
 You have to select which word you want everytime.
